.header{
    height: 250px;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 133.333px 85.333px 133.333px;
    align-items: center;
    justify-content: space-between;
    /*gap: 32px;*/
   /*background-image: url('/img/headerPic.jpg');*/
    /*background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;*/
}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    color: #444
}

.headerTitleSm{
    position: absolute;
    top: 15%;
    font-size: 50px;
}

.headerTitleLg{
    position: absolute;
    top: 18%;
    font-size: 50px;
    margin-top: 30px;
}