.navbar{
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 0px 5.333px 80px 0 rgba(0, 0, 0, 0.1);
    position: sticky;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-left: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

.topLeft, .topRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topIcon{
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
}

.topIcon:hover{
    color: green;
}
.topImg{
   /*width: 40px;
    height: 40px;*/
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.topList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topListItem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.topListLink{
    text-decoration: none;
    color: #666;
}

.topListLink:hover{
    color: green;
}

.searchIcon{
    font-size: 18px;
    color: #666;
    cursor: pointer;
}

.topCenter{
    flex: 6;
}

/* Hamburger menu */
.nav_hamburger {
    display: none;
    width: 1.875rem;
    height: 1.313rem;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 25px;
    right: 25px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: -5px;
  }
  
  .nav_hamburger_line {
    display: block;
    height: 0.1rem;
    width: 100%;
    background-color: #000000;
    border-radius: 0.625rem;
    transition: all ease-in-out 0.2s;
  }
  
  @media screen and (max-width: 1000px) {
    .nav_hamburger {
      display: flex;
      z-index: 200;
    }
    .navbar-items {
      display: flex;
    }
    .navbar-items {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 255, 255);
      top: -20rem;
      left: 0;
      width: 100%;
      transition: all ease-in-out 0.4s;
    }
    .navbar-items ul {
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 3rem 0 0.6rem;
      z-index: -100;
    }
    .navbar-items ul li {
      text-align: center;
      padding-top: 10px;
    }
    .navbar-items ul li a {
      padding: 0.5rem;
    }
    .navbar-items {
      z-index: -1000;
    }
    .navbar-items.active {
      top: 30px;
    }
    .nav_hamburger.active :nth-child(1) {
      transform: rotate(45deg) translate(0.45rem, 0.1875rem);
    }
  
    .nav_hamburger.active :nth-child(2) {
      opacity: 0;
    }
  
    .nav_hamburger.active :nth-child(3) {
      transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
    }
  }